<section class="payment-page">
  <div class="container">
    <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1">
      <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
          <div class="card">
            <div class="card-body">
              <span><strong><%= @payment_type %></strong> (USD <%= @fee %>)</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ex fugiat ipsa, pariatur doloribus accusantium. Id reiciendis officia aperiam minima ad placeat accusantium ipsam. Officiis ea nihil ab harum quo!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>