<section class="comment">
  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with model: comment, url: story_comments_path(story), remote: true do |form| %>
        <div class="form-group">  
          <%= form.text_area :content, rows: 5, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.button 'Send', class: "btn btn-info" %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
