@import './bootstrap_custom.scss';
@import 'stories.scss';
@import 'welcome.scss';
@import './editor.scss';

nav.navbar {
  margin-bottom: 2em;
}

.card {
  margin: 1em 1em 2em 1em;
}

.nav-link {
  .user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;   
  }
}

.clapCount {
  font-size: 32px;
}