.user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;   
}

.follow-button {
  margin-left: 20px;
}

.user-page-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.user-page-image {
  width: 100%;
  height: 12em;
}

.remove-spots ul li {
  float: left;
  margin: 7px;
  list-style: none;
}